* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  min-height: 100vh;
  background: #0b0b0bf5;
    color: white;
}

.container {
  width: 800px;
  height: 500px;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.5);
  position: relative;
  transition: all 0.6s ease-in-out;
background: linear-gradient(to right, #000000, #2c2c2c);

}

/* Panels */
.panel {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.6s ease-in-out;
  overflow: hidden;
}

/* Forms */
.form {
  width: 80%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  transition: all 0.6s ease-in-out;
}

.form input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form button {
  padding: 12px;
  width: 100%;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  background: #1a48d0;
  color: white;
  transition: 0.3s;
}

.form button:hover {
  background: #ff4e50;
  color: #fff;
}

.form p {
  
  margin-top: 15px;
}

.form p span {
 
  cursor: pointer;
  font-weight: bold;
}

/* Images */
.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.6s ease-in-out;
  z-index: 1;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Initial visibility */
.left-panel .login-form {
  opacity: 1;
  pointer-events: auto;
}

.left-panel .sign-up-image {
  opacity: 0;
  pointer-events: none;
}

.right-panel .login-image {
  opacity: 1;
  pointer-events: auto;
}

.right-panel .sign-up-form {
  opacity: 0;
  pointer-events: none;
}

/* Show sign-up state */
.container.show-signup .left-panel .login-form {
  opacity: 0;
  pointer-events: none;
}

.container.show-signup .left-panel .sign-up-image {
  opacity: 1;
  pointer-events: auto;
}

.container.show-signup .right-panel .login-image {
  opacity: 0;
  pointer-events: none;
}

.container.show-signup .right-panel .sign-up-form {
  opacity: 1;
  pointer-events: auto;
}

/*  Responsive Container Direction  */
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    width: 90%; 
    height: auto;
  }

  .panel {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
    width: 95%;
    height: auto;
  }

  .panel {
    width: 100%;
  }
}
